@import '../../../stylings/variables';

.main-div {
    margin: 0 12px 0 12px;
}

.profile-image-div {
    text-align: center;
}

.profile-fa-icon {
    border: 1px black solid;
    border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    padding: 10px;
}

.profile-fa-icon:hover {
    cursor: pointer;
    color: gray;
}

.profile-image-upload-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-image-upload-span {
    color: $link-color;
    font-size: 17px;
}

.profile-image-upload-span:hover {
    cursor: pointer;
    color: $link-hover-color;
}

.file-input {
    font-size: 14px;
}

.file-input:hover {
    cursor: pointer;
}

.preview-img-div {
    text-align: center;
}

.preview-img {
    width: 300px;
}

// .visible-profile {
//     display: block;
// }

.invisible-profile {
    display: none;
}

.error-div {
    color: $error-color;
    font-size: 14px;
}

.profile-fa-icon {
    font-size: 50px;
}

.name-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.name-input {
    width: 33%;    
}

.section-header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.save-span {
    font-size: 17px;
}

.section-header-save-span {
    color: $link-color
}

.section-header-save-span:hover {
    cursor: pointer;
    color: $link-hover-color;
}

.description-textarea {
    resize: none;
    width: 100%;
}

.activity-settings-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.activity-settings-header-div {
    font-size: 17px;
}

.activity-settings-select-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.activity-settings-select {
    margin-right: 10px;
    width: 95px;
}

.domain-list-div {
    height: 200px;
    overflow: auto;
    border: 1px solid $tabs-color;
    padding: 5px 15px 5px 10px;
}

.domain-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.minus-icon:hover {
    cursor: pointer;
}

.domain-helper-div {
    color: $tabs-color;
    font-size: 14px;
}

.domain-input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.domain-input {
    flex-grow: 1;
    font-size: 15px;
    margin-right: 5px;
}

.domain-add-span {
    width: 45px;
    text-align: center;
}

.domain-add-icon:hover {
    cursor: pointer;
}

.info-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.info-label {
    flex: 0 0 70px;
}

.privacy-select {
    flex: 0 0 90px;
}

.info-input {
    flex-grow: 1;
    margin-right: 10px;
}