@import '../../../stylings/variables';

.main-div {
    margin: 0 10px 0 10px;
}

.additional-info-header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.additional-info-header-span {
    font-size: 17px;
}

.additional-info-save-span {
    color: $link-color
}

.additional-info-save-span:hover {
    cursor: pointer;
    color: $link-hover-color;
}

.info-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.info-label {
    flex: 0 0 70px;
}

.privacy-select {
    flex: 0 0 90px;
}

.info-input {
    flex-grow: 1;
    margin-right: 10px;
}