<div>
    <app-tabs [currTab]="'profile'"></app-tabs>
    Profile Page of {{ userInfo ? userInfo.user_uuid : '' }}

    <div *ngIf="userInfo !== null">
        {{ userInfo.first_name }} {{ userInfo.last_name }}
    </div>

    <div class='header-div'>
        <div class='image-div'>Profile Image</div>
        <div class='name-div'>
            Name
            <input placeholder="First Name" />
            <input placeholder="Middle Name" />
            <input placeholder="Last Name" />
        </div>
    </div>

    <div class='description-div'>
        <div class='description-header-div'>Description</div>
        <div>
            <textarea></textarea>
        </div>
    </div>

    <div class='activity-settings-div'>

    </div>

    <div class='domain-input-div'>
        <input class='domain-input' />
    </div>

    <div class='domain-list-div'>

    </div>

    <div class='domain-list-save-div'>
        <span class='domain-list-save-span'>Save</span>
    </div>

    <div class='additional-info-header-div'>
        Additional information
    </div>

    <div class='additional-info-div'>
        <div class='info-div'>
            <div class='info-label'>Email</div>
            <input />
            <select class="form-select form-select-sm dob-select"
                    aria-label=".form-select-sm example">
            </select>
        </div>
        <div class='info-div'>
            <div class='info-label'>Gender</div>
            <input />
        </div>
        <div class='school-div'>
            <div class='school-label'>School</div>
            <input />
        </div>
        <div class='work-div'>
            <div class='work-label'>Work</div>
            <input />
        </div>
        <div class='location-div'>
            <div class='location-label'>Location</div>
            <input />
        </div>
    </div>

    <div class='additional-info-search-div'>
        <input class="form-check-input" type="checkbox" value=""/>
        <span>Allow users to search me with additional information</span>
    </div>
</div>