<ngx-spinner>
    <p style="color: white; font-size: 14px;">
        <strong>{{ spinnerMsg }}</strong>
    </p>
</ngx-spinner>
<!-- <app-tabs [currTab]="'profile'"></app-tabs> -->
<div class='main-div'>
    <!-- <div class='view-friends-div'>
        <span class='view-friends-span' (click)="viewFriends()">
            View Friend List
        </span>
    </div> -->

    <div class='d-flex flex-row justify-content-end mt-1'>
        <select class="form-select form-select-sm " style="width: 95px;" aria-label=".form-select-sm"
                [ngModel]="languageInput" (ngModelChange)="onChangeLanguage($event)">
            <option value="en-US">English</option>
            <option value="ko-KR">한국어</option>
        </select>
    </div>

    <div class='profile-image-div'>
        <img [src]='profileImageUrl'
             (click)="toggleProfileImageUploader()"
             class='profile-img' onerror="this.src='/assets/user.png'"/>
    </div>

    <div *ngIf="profileImageUploaderOn" class='profile-image-upload-div'>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <input class='file-input' type="file" (change)="onSelectFile($event)"/>
            <span *ngIf="imageSelectUrl !== ''" class='profile-image-action-span'
                  (click)="uploadProfileImage()">
                {{ 'Upload' | translate }}
            </span>
            <span *ngIf="imageSelectUrl === ''" class='profile-image-action-span'
                  (click)="deleteProfileImage()">
                {{ 'Delete' | translate }}
            </span>
        </div>
        <div *ngIf='imageUploadErrorMsg !== ""' class='error-div'>
            <span>* {{ imageUploadErrorMsg }}</span>
        </div>
    </div>

    <div class='preview-img-div' *ngIf="imageSelectUrl && profileImageUploaderOn">
        <img [src]="imageSelectUrl" class='preview-img'/>
    </div>

    <div class='section-header-div'>
        <span class='section-header-span'>
            <strong>{{ 'Name' | translate }}</strong>
        </span>
        <span class='section-header-save-span' (click)="saveName()">
            {{ 'Save' | translate }}
        </span>
    </div>

    <div class='d-flex justify-content-between align-items-center w-100'>
        <input [(ngModel)]='firstNameInput' placeholder="First Name" style="width: 49%;" />
        <input [(ngModel)]='lastNameInput' placeholder="Last Name" style="width: 49%;" />
    </div>

    <div *ngIf='nameErrorMsg !== ""' class='error-div'>
        <span>* {{ nameErrorMsg }}</span>
    </div>

    <div class='section-header-div'>
        <span class='section-header-span'>
            <strong>{{ 'Profile Header' | translate }}</strong>
        </span>
        <span class='section-header-save-span' (click)="saveDescription()">
            {{ 'Save' | translate }}
        </span>
    </div>

    <div>
        <input class='d-block w-100' style="resize: none;"
               [(ngModel)]="descriptionInput" />
    </div>

    <div *ngIf='descriptionErrorMsg !== ""' class='error-div'>
        <span>* {{ descriptionErrorMsg }}</span>
    </div>

    <div class='section-header-div'>
        <span class='section-header-span'>
            <strong>{{ 'Activity Privacy Settings' | translate }}</strong>
        </span>
        <span class='section-header-save-span' (click)="saveActivitySettings()">
            {{ 'Save' | translate }}
        </span>
    </div>

    <div *ngIf="userLanguage !== LANG_KO" class='d-flex flex-row align-items-center mb-2'>
        <select class="form-select form-select-sm me-2" style="width: 95px;"
                [(ngModel)]="activitySettings" aria-label=".form-select-sm">
            <option value="share">Share</option>
            <option value="hide">Hide</option>
        </select>
        <span>activites on the following domains</span>
    </div>
    <div *ngIf="userLanguage === LANG_KO" class='d-flex flex-row align-items-center mb-2'>
        <span>아래 도메인에서의 활동을</span>
        <select class="form-select form-select-sm ms-2" style="width: 95px;"
                [(ngModel)]="activitySettings" aria-label=".form-select-sm">
            <option value="share">공개하기</option>
            <option value="hide">숨기기</option>
        </select>
    </div>

    <div class='domain-list-div'>
        <div *ngIf="activitySettings === 'hide'">
            <div *ngFor="let domain of domainDenyArr; let domainIdx=index" class='domain-div'>
                <span>{{ domain }}</span>
                <fa-icon [icon]="faMinus" class='minus-icon'
                         (click)="removeDomain(domainIdx)">
                </fa-icon>
            </div>
        </div>
        <div *ngIf="activitySettings === 'share'">
            <div *ngFor="let domain of domainAllowArr; let domainIdx=index" class='domain-div'>
                <span>{{ domain }}</span>
                <fa-icon [icon]="faMinus" class='minus-icon'
                         (click)="removeDomain(domainIdx)">
                </fa-icon>
            </div>
        </div>
    </div>

    <div class='d-flex flex-row align-items-center'>
        <input [(ngModel)]="domainInput" class='flex-grow-1 me-1' style="font-size: 15px;"
               placeholder="{{ 'Enter website domain (ex. github.com)' | translate }}"/>
        <span class='text-center' style="width: 45px;">
            <fa-icon class='domain-add-icon' [icon]="faPlus"
                 (click)="addDomain()">
            </fa-icon>
        </span>
    </div>

    <div class='domain-helper-div'>
        <span *ngIf="activitySettings === 'hide'">
            * {{ 'You will be sharing all pages except the ones above' | translate }}
        </span>
        <span *ngIf="activitySettings === 'share'">
            * {{ 'You will be sharing only the pages listed above' | translate }}
        </span>
    </div>

    <div *ngIf='activitySettingsErrorMsg !== ""' class='error-div'>
        <span>* {{ activitySettingsErrorMsg }}</span>
    </div>

    <div class='section-header-div'>
        <span class='section-header-span'>
            <strong>{{ 'Additional Information' | translate }}</strong>
        </span>
        <span class='section-header-save-span' (click)="saveAdditionalInfo()">
            {{ 'Save' | translate }}
        </span>
    </div>

    <div class='additional-info-div'>
        <div class='info-div'>
            <div class='info-label'>{{ 'Email' | translate }}</div>
            <input [(ngModel)]="emailInput" class='info-input'
                   disabled placeholder="Enter email" />
            <select class="form-select form-select-sm privacy-select"
                    [(ngModel)]="emailOption" aria-label=".form-select-sm">
                <option value="private">{{ 'Private' | translate }}</option>
                <option value="public">{{ 'Public' | translate }}</option>
            </select>
        </div>
        <div class='info-div'>
            <div class='info-label'>{{ 'Gender' | translate }}</div>
            <input [(ngModel)]="genderInput" class='info-input'
                   placeholder="Enter gender" />
            <select class="form-select form-select-sm privacy-select"
                    [(ngModel)]="genderOption" aria-label=".form-select-sm">
                <option value="private">{{ 'Private' | translate }}</option>
                <option value="public">{{ 'Public' | translate }}</option>
            </select>
        </div>
        <div class='info-div'>
            <div class='info-label'>{{ 'School' | translate }}</div>
            <input [(ngModel)]="schoolInput" class='info-input'
                   placeholder="Enter school" />
            <select class="form-select form-select-sm privacy-select"
                    [(ngModel)]="schoolOption" aria-label=".form-select-sm">
                <option value="private">{{ 'Private' | translate }}</option>
                <option value="public">{{ 'Public' | translate }}</option>
            </select>
        </div>
        <div class='info-div'>
            <div class='info-label'>{{ 'Work' | translate }}</div>
            <input [(ngModel)]="workInput" class='info-input'
                   placeholder="Enter work" />
            <select class="form-select form-select-sm privacy-select"
                    [(ngModel)]="workOption" aria-label=".form-select-sm">
                <option value="private">{{ 'Private' | translate }}</option>
                <option value="public">{{ 'Public' | translate }}</option>
            </select>
        </div>
        <div class='info-div'>
            <div class='info-label'>{{ 'Location' | translate }}</div>
            <input [(ngModel)]="locationInput" class='info-input'
                   placeholder="Enter location" />
            <select class="form-select form-select-sm privacy-select"
                    [(ngModel)]="locationOption" aria-label=".form-select-sm">
                <option value="private">{{ 'Private' | translate }}</option>
                <option value="public">{{ 'Public' | translate }}</option>
            </select>
        </div>
    </div>

    <div *ngIf='additionalInfoErrorMsg !== ""' class='error-div'>
        <span>* {{ additionalInfoErrorMsg }}</span>
    </div>
</div>