<ngx-spinner>
    <p style="color: white; font-size: 14px;">
        <strong>{{ spinnerMsg }}</strong>
    </p>
</ngx-spinner>
<div class='main-div' *ngIf="!showProfile">
    <!-- Url of the website you are currently sharing -->
    <div *ngIf="userPresence && userPresence.page && userPresence.page.url !== ''" class='user-share-div'>
        <fa-icon [icon]="faChevronCircleRight" *ngIf="!isToolbarOpen" class="me-2 chevron-icon"
                 (click)="onClickToolbar()" style="font-size: 13px;"></fa-icon>
        <fa-icon [icon]="faChevronDown" *ngIf="isToolbarOpen" class="me-2 chevron-icon"
                 (click)="onClickToolbar()" style="font-size: 13px;"></fa-icon>
        <span class='user-sharing-intro-span'>
            {{ 'Now Sharing' | translate }}
        </span>
        <span class='align-middle' style="font-size: 15px; color: black;">
            {{ userPresence.page.url }}
        </span>
    </div>
    <!-- A header that allows user to quickly enable sharing on the domain -->
    <div *ngIf="(shareMode === 'default_all' && domainDenySet.has(currDomain)) || (shareMode === 'default_none' && !domainAllowSet.has(currDomain)) && !nonSharingDomainArr.includes(currDomain)"
        class='url-block-div'
    >
        <div *ngIf="userLanguage !== 'ko-KR'">
            Click <span class='click-span' (click)="allowCurrDomain()">here</span> to allow <strong>{{ currDomain }}</strong> to be shared.
        </div>
        <div *ngIf="userLanguage === 'ko-KR'">
            <strong>{{ currDomain }}</strong> 활동을 공유하려면 <span class='click-span' (click)="allowCurrDomain()">여기</span>를 클릭하세요.
        </div>
    </div>

    <!-- Message that is displayed when you have no friend -->
    <div *ngIf="isPresenceLoaded && offlinePresenceArr.length === 0 && onlineSharingPresenceArr.length === 0 && onlineHiddenPresenceArr.length === 0"
         class='text-center'>
        <span>{{ 'Search friends to share your activity with!' | translate }}</span>
    </div>

    <!-- Toolbar -->
    <div *ngIf="isToolbarOpen && userPresence && userPresence.page && userPresence.page.url !== ''"
         class="d-flex flex-row align-items-center">
        <button class="shareNotificationButton me-3">
            <fa-icon [icon]="faBullhorn" class="me-1"></fa-icon>
            Notify friends current activity
        </button>
        <button style="font-size: 12px;">
            Stop sharing domain
        </button>
    </div>


    <!-- Live presence information for online friends -->
    <div class='presence-subheader-div'>
        <span class='dot' style="background-color: green; border: 1px solid green;"></span>
        <span>{{ 'Friends Online' | translate }} ({{ onlineSharingPresenceArr.length + onlineHiddenPresenceArr.length }})</span>
    </div>
    <div class='presence-div' *ngFor="let presence of onlineSharingPresenceArr.concat(onlineHiddenPresenceArr)">
        <div class='profile-image-div'>
            <img [src]="userInfoMap[presence.userId].profileImgUrl"
                (click)="onClickProfile(presence.userId)"
                class="profile-image" onerror="this.src='/assets/user.png'">
        </div>
        <div class='presence-page-div'>
            <div class='presence-user-name-div'>
                <span class='user-name-span user-name-online-span'
                      (click)="onClickProfile(presence.userId)">
                    {{ userInfoMap[presence.userId].first_name }}
                    {{ userInfoMap[presence.userId].last_name }}
                </span>
                <span *ngIf="presence.page && presence.page.url === ''"
                      class='activity-hidden-span ms-2'>
                    <i>{{ 'Activity Hidden' | translate }}</i>
                </span>
                <span *ngIf="presence.page && presence.page.url !== '' && presence.page.domain !== ''" class='domain-span'>
                    <strong>{{ presence.page.domain }}</strong>
                </span>
            </div>
            <a *ngIf="presence.page && presence.page.url !== ''" [href]='presence.page.url'
               target="_blank" class='page-a'>
                {{ presence.page.title }}
            </a>
            <!-- If activity is hidden (page.url === '') -->
            <div *ngIf="presence.page && presence.page.url === ''"
                 class='d-flex flex-row'>
                <span class='latest-activity-shared-span'>
                    {{ 'Latest Shared' | translate }}
                </span>
                <a *ngIf="presence.latestPage && presence.latestPage.url !== ''"
                    [href]='presence.latestPage.url' target="_blank" class='page-a'>
                    <span *ngIf="presence.latestPage.domain && presence.latestPage.domain !== ''">
                        {{ presence.latestPage.domain }} -
                    </span>
                    {{ presence.latestPage.title }}
                </a>
                <span *ngIf="!(presence.latestPage && presence.latestPage.url !== '')"
                      class="ms-1" style="font-size: 12px;">
                    {{ 'None' | translate }}
                </span>
            </div>
        </div>
    </div>

    <!-- List of offline friends -->
    <div class='presence-subheader-div'>
        <span class='dot' style="background-color: white; border: 1px solid black;"></span>
        <span class='presence-subheader-offline-span'>{{ 'Friends Offline' | translate }} ({{ offlinePresenceArr.length }})</span>
    </div>
    <div class='presence-div' *ngFor="let presence of offlinePresenceArr">
        <div class='profile-image-div'>
            <img [src]="userInfoMap[presence.userId].profileImgUrl"
                (click)="onClickProfile(presence.userId)"
                class="profile-image profile-image-offline"
                onerror="this.src='/assets/user.png'">
        </div>
        <div class='presence-page-div'>
            <span class='user-name-span user-name-offline-span'
                  (click)="onClickProfile(presence.userId)">
                {{ userInfoMap[presence.userId].first_name }}
                {{ userInfoMap[presence.userId].last_name }}
            </span>
            <span style="font-size: 12px;">
                {{ 'Offline' | translate }}
            </span>
        </div>
    </div>
</div>
<app-profile-public *ngIf="showProfile" [userId]="profileId" (backEvent)="onClickBack()">
</app-profile-public>