@import '../../stylings/variables';

$share-div-height: 25px;
$share-div-margin-bottom: 5px;

.main-div {
    padding: 0 10px 5px 10px;
}

.user-share-div {
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: $share-div-margin-bottom;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $tabs-hr-color;
    height: $share-div-height;
}

.user-sharing-intro-span {
    font-size: 13px;
    color: $tabs-color;
    vertical-align: middle;
    margin-right: 10px;
}

.user-sharing-url-span {
    font-size: 15px;
    color: black;
    vertical-align: middle;
}

.url-block-div {
    font-size: 15px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: $share-div-margin-bottom;
    border-bottom: 1px solid $tabs-hr-color;
    height: $share-div-height;
}

.click-span {
    color: $link-color;
}

.click-span:hover {
    color: $link-hover-color;
    cursor: pointer;
}

.presence-intro-div {
    text-align: center;
}

.presence-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 7px;
}

.presence-subheader-div {
    font-size: 15px;
    margin: 5px 0 5px 0;
}

.presence-subheader-offline-span {
    color: $tabs-color;
}

.profile-image-div {
    margin-right: 10px;
}

.profile-image {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    object-fit: cover;
}

.profile-image:hover {
    cursor: pointer;
}

.profile-image-offline {
    opacity: 0.5;
}

.presence-page-div {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
}

.presence-title-span {
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
}

.user-name-span {
    width: max-content;
    font-size: 15px;
}

.user-name-span:hover {
    cursor: pointer;
}

.user-name-online-span {
    color: black;
}

.user-name-offline-span {
    color: $tabs-color;
}

.domain-span {
    margin-left: 10px;
    font-size: 12px;
    color: $link-hover-color;
}

.page-a {
    width: max-content;
    text-decoration: none;
    color: $link-color;
    font-size: 12px;
}

.page-a:hover {
    color: $link-hover-color;
}

.activity-hidden-span {
    font-size: 12px;
    color: $tabs-color;
}

.offline-span {
    font-size: 12px;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.sharing-dot {
    background-color: green;
}

.hiding-dot {
    background-color: white;
    border: 1px solid black;
}