
<!-- when curr user is sender -->
<div *ngIf="currUserId === message.senderId"
     class='d-flex flex-row justify-content-end align-items-end text-end'>
    <div *ngIf="!isSending" class='message-date-send-div'>
        {{ sentAt | dateFormat }}
    </div>
    <div *ngIf="isSending" class='spinner-div'>
        <span class="spinner-border spinner-border-sm spinner-span" role="status" aria-hidden="true"></span>
    </div>
    <div class='message-content-div' style="background-color: #ffdf9e;">
        {{ message.content }}
    </div>
</div>
<!-- when curr user is recipient -->
<div *ngIf="currUserId !== message.senderId" class='recipient-message-div'>
    <div *ngIf="!prevSenderId || prevSenderId === currUserId" class='d-flex flex-row align-items-center'>
        <img [src]="senderProfileImgSrc" class="profile-img"
            onerror="this.src='/assets/user.png'">
        <span class='ps-1' style="font-size: 15px;">{{ senderName }}</span>
    </div>
    <div class='d-flex flex-row align-items-end'>
        <div class='message-content-div' style="background-color: #dedede;">
            {{ message.content }}
        </div>
        <div class='message-date-rec-div'>
            {{ sentAt | dateFormat }}
        </div>
    </div>
</div>