<div *ngIf="authMode === 'sign-in' || authMode === 'sign-up'">
    <form [formGroup]="authForm">
        <div>
            <label>Email</label>
            <input type="email" formControlName="email">
        </div>
        <div>
            <label>Password</label>
            <input type="password" formControlName="password">
        </div>
    </form> 
    <div *ngIf="authMode === 'sign-in'">
        <span (click)="onSetAuthMode('forgot-password')">
            Forgot your password?
        </span>
    </div>   
    <div *ngIf="authMode === 'sign-in'">
        <button (click)="onEmailSignIn()">Sign In</button>
        <div>
            Need an account?
            <span (click)="onSetAuthMode('sign-up')">Sign up</span>
        </div>
    </div>
    <div *ngIf="authMode === 'sign-up'">
        <button (click)="onEmailSignUp()">Sign Up</button>
        <div>
            Already have an account?
            <span (click)="onSetAuthMode('sign-in')">Sign in</span>
        </div>
    </div>
    <div>
        Facebook Login
        <button (click)="onFacebookSignIn()">Facebook</button>
    </div>
    <div>
        Google Login
        <button (click)="onGoogleSignIn()">Google</button>
    </div>
</div>
<div *ngIf="authMode === 'forgot-password'">
    <div>Forgot your password?</div>
    <div>Enter your email and we will send you a verification code</div>
    <form [formGroup]="forgotPasswordForm">
        <label>Email</label>
        <input type="email" formControlName="email">
    </form>
    <div>
        <button (click)="onResetPassword()">
            Reset Password
        </button>
    </div>
    <span (click)="onSetAuthMode('sign-in')">Back</span>
</div>
<div *ngIf="authMode === 'recover-password'">
    <div>We sent a password reset code to your email. Enter it below to reset your password.</div>
    <form [formGroup]="recoverPasswordForm">
        <div>
            <label>Code</label>
            <input formControlName="code">
        </div>
        <div>
            <label>New Password</label>
            <input formControlName="newPassword">
        </div>
        <div>
            <label>Confirm Password</label>
            <input formControlName="passwordConfirm">
        </div>
    </form>
    <div>
        <button (click)="onChangePassword()">
            Change Password
        </button>
    </div>
    <span (click)="onSetAuthMode('forgot-password')">Back</span>
</div>