<ngx-spinner>
    <p style="color: white; font-size: 14px;">
        <strong>{{ spinnerMsg }}</strong>
    </p>
</ngx-spinner>
<div class='main-div'>
    <div class='back-div'>
        <span class='back-span' (click)="onClickBack()">&lt; Back</span>
        <span *ngIf="currUserId && userId !== currUserId && isFriend === true"
              class='unfriend-span' (click)="deleteFriend()" >
            Unfriend
        </span>
    </div>
    <div class='profile-image-div'>
        <img [src]="userProfileImgUrl"
             class='profile-img' onerror="this.src='/assets/user.png'"
        />
    </div>
    <div class='name-div'>
        <strong>{{ userInfo?.first_name }} {{ userInfo?.last_name }}</strong>
    </div>
    <div *ngIf="currUserId && userId !== currUserId && isFriend === false
                && friendRequestSent === false && friendRequestReceived === false"
         class='profile-btn-div'>
        <button class='btn btn-primary btn-sm' (click)="addFriend()">Add Friend</button>
    </div>
    <div *ngIf="currUserId && userId !== currUserId && isFriend === true"
         class='profile-btn-div'>
        <button class='btn btn-primary btn-sm' (click)="sendMessage()">Message</button>
    </div>
    <div *ngIf="currUserId && userId !== currUserId && isFriend === false && friendRequestReceived === true"
         class='profile-btn-div'>
        <button class='btn btn-primary btn-sm' (click)="acceptFriendRequest()">
            Accept Friend Request
        </button>
    </div>
    <div *ngIf="currUserId && userId !== currUserId && isFriend === false && friendRequestReceived === true"
         class='profile-btn-div'>
        <button class='btn btn-secondary btn-sm' (click)="deleteFriendRequest()">
            Decline Friend Request
        </button>
    </div>
    <div *ngIf="currUserId && userId !== currUserId && isFriend === false && friendRequestSent === true"
         class='profile-btn-div'>
        <button class='btn btn-secondary btn-sm' (click)="deleteFriend()">
            Cancel Friend Request
        </button>
    </div>
    <!-- <div><button>Pending Friend Request</button></div> -->
    <div *ngIf="currUserId && userId === currUserId" class='profile-btn-div'>
        <button class='btn btn-primary btn-sm' (click)="navigateToMyProfile()">Edit Profile</button>
    </div>
    <div class='description-div'>
        {{ userInfo?.description }}
    </div>
    <div class='additional-info-div'>
        <div *ngIf="userInfo?.school" class='additional-info-item-div'>
            <div class='additional-info-label-div'>School</div>
            <div class='additional-info-content-div'>{{ userInfo?.school }}</div>
        </div>
        <div *ngIf="userInfo?.work" class='additional-info-item-div'>
            <div class='additional-info-label-div'>Work</div>
            <div class='additional-info-content-div'>{{ userInfo?.work }}</div>
        </div>
        <div *ngIf="userInfo?.location" class='additional-info-item-div'>
            <div class='additional-info-label-div'>Location</div>
            <div class='additional-info-content-div'>{{ userInfo?.location }}</div>
        </div>
        <div *ngIf="userInfo?.gender" class='additional-info-item-div'>
            <div class='additional-info-label-div'>Gender</div>
            <div class='additional-info-content-div'>{{ userInfo?.gender }}</div>
        </div>
    </div>
    <div class='mutual-friends-div' *ngIf="mutualFriendArr.length > 0">
        <div class='mutual-friends-header-div'>
            <strong>Mutual Friends </strong>({{ mutualFriendCount }})
        </div>
        <div *ngFor="let user of mutualFriendArr" class='mutual-friend-user-div'>
            <div class='user-profile-image-div'>
                <img [src]="userProfileImgUrlMap[user.user_id]"
                    class="user-profile-image" onerror="this.src='/assets/user.png'">
            </div>
            <div class='user-info-div'>
                <div class='user-name-div'>
                    <span class='user-name-span'>
                        {{ user.first_name }} {{ user.last_name }}
                    </span>
                </div>
                <div class='user-description-div'>
                    <span *ngIf="user.description !== ''">{{ user.description }}</span>
                    <span *ngIf="user.description === ''">&nbsp;</span>
                </div>
            </div>
        </div>
        <div class='load-more-div' *ngIf="!endOfLoad">
            <span class='load-more-span' (click)="getMutualFriends(userId, mutualFriendArr.length)">
                Load More Mutual Friends
            </span>
        </div>
    </div>
</div>
