@import '../../../stylings/variables';

.main-div {
    margin: 0 12px 0 12px;
}

.back-div {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back-span {
    font-size: 15px;
    color: $link-color;
}

.back-span:hover {
    cursor: pointer;
    color: $link-hover-color;
}

.unfriend-span {
    font-size: 15px;
    color: $date-color;
}

.unfriend-span:hover {
    cursor: pointer;
    color: black;
}

.profile-image-div {
    text-align: center;
    margin: -20px 0 5px 0;
}

.profile-img {
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-top: 5px;
}

.profile-btn-div {
    text-align: center;
    font-size: 15px;
    margin: 5px 0 5px 0;
}

.name-div {
    text-align: center;
    font-size: 20px;
}

.description-div {
    text-align: center;
    color: $tabs-color;
    font-size: 15px;
    margin: -3px 0 15px 0;
}

.additional-info-header-div {
    font-size: 14px;
    margin: 5px 0 5px 0;
}

.additional-info-div {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.additional-info-item-div {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-bottom: 5px;
}

.additional-info-label-div {
    width: 80px;
}

.mutual-friends-header-div {
    font-size: 15px;
    margin-bottom: 5px;
    margin: 10px 5px 10px 0;
}

.mutual-friend-user-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.user-profile-image-div {
    margin-right: 10px;
}

.user-profile-image {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    object-fit: cover;
}

.user-info-div {
    display: flex;
    flex-direction: column;
}

.user-name-span {
    font-size: 15px;
}

.user-description-div {
    font-size: 13px;
    color: $date-color;
    white-space: nowrap;
    overflow: hidden;
    margin-top: -2px;
}

.load-more-div {
    text-align: center;
    padding-bottom: 10px;
}

.load-more-span {
    font-size: 13px;
    color: $link-color
}

.load-more-span:hover {
    cursor: pointer;
    color: $link-hover-color;
}