@import '../../stylings/variables';

.tabs-main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $tabs-color;
    align-items: center;
    height: 32px;
    position: sticky;
    top: 0px;
}

.tab-list-div {
    display: flex;
    flex-direction: row;
    font-size: 19px;
    height: 100%;
    align-items: center;
}

.tab-div {
    width: 40px;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    display: table;
}

fa-icon {
    vertical-align: middle;
    text-align: center;
}

fa-icon:hover {
    cursor: pointer;
}

.selected-tab-div {
    background-color: white;
}

.selected-fa-icon {
    color: $tabs-color;
}

.default-fa-icon {
    color: white;
}

.close-div {
    color: white;
    width: 40px;
    display: table;
    text-align: center;
    font-size: 18px;
}