<ngx-spinner>
    <p style="color: white;">
        <strong>Fetching user data...</strong>
    </p>
</ngx-spinner>
<div>
    <div>
        <div>
            <a [ngClass]="{'selected-tab': currTab === 'pages'}">
                Pages
            </a>
        </div>
        <div>
            <a [ngClass]="{'selected-tab': currTab === 'chats'}">
                Chats
            </a>
        </div>
        <div>
            <a [ngClass]="{'selected-tab': currTab === 'search'}">
                Search
            </a>
        </div>
        <div>
            <a [ngClass]="{'selected-tab': currTab === 'notifications'}">
                Notifications
            </a>
        </div>
        <div>
            <a [ngClass]="{'selected-tab': currTab === 'profile'}"
               [routerLink]="['/profile', userUuid]"
            >
                Profile
            </a>
        </div>
    </div>

    Current url: {{ url }}
</div>