<div class='tabs-main-div' [ngStyle]="{'display': tabsHidden ? 'none' : 'flex'}">
    <div class='d-flex flex-row align-items-center h-100' style="font-size: 19px;">
        <div class='tab-div' [ngClass]="{'selected-tab-div': currTab === 'pages'}">
            <fa-icon [icon]="faFileAlt" [routerLink]="['/pages']"
                [ngClass]="{'selected-fa-icon': currTab === 'pages',
                            'default-fa-icon': currTab !== 'pages'}">
            </fa-icon>
        </div>
        <div class='tab-div' [ngClass]="{'selected-tab-div': currTab === 'chat'}">
            <fa-icon [icon]="faComment" [routerLink]="['/chat']"
                [ngClass]="{'selected-fa-icon': currTab === 'chat',
                            'default-fa-icon': currTab !== 'chat'}">
            </fa-icon>
            <span *ngIf="nUnreadConversations" class="badge-span">
                <strong>{{ nUnreadConversations }}</strong>
            </span>
        </div>
        <div class='tab-div' [ngClass]="{'selected-tab-div': currTab === 'search'}">
            <fa-icon [icon]="faSearch" [routerLink]="['/search']"
                [ngClass]="{'selected-fa-icon': currTab === 'search',
                            'default-fa-icon': currTab !== 'search'}">
            </fa-icon>
        </div>
        <div class='tab-div' [ngClass]="{'selected-tab-div': currTab === 'notifications'}">
            <fa-icon [icon]="faBell" [routerLink]="['/notifications']"
                [ngClass]="{'selected-fa-icon': currTab === 'notifications',
                            'default-fa-icon': currTab !== 'notifications'}">
            </fa-icon>
            <span *ngIf="nNotifications" class="badge-span">
                <strong>{{ nNotifications }}</strong>
            </span>
        </div>
        <div class='tab-div' [ngClass]="{'selected-tab-div': currTab === 'profile-me'}">
            <fa-icon [icon]="faUserCircle" [routerLink]="['/profile', 'me']"
                [ngClass]="{'selected-fa-icon': currTab === 'profile-me',
                            'default-fa-icon': currTab !== 'profile-me'}">
            </fa-icon>
        </div>
    </div>
    <div class='close-div'>
        <fa-icon [icon]="faTimes" (click)="onCloseChatbox()">
        </fa-icon>
    </div>
</div>