<ngx-spinner>
    <p style="color: white; font-size: 14px;">
        <strong>Submitting...</strong>
    </p>
</ngx-spinner>
<div class='main-div'>
    <div class='header-div'>
        Submit User Information
    </div>
    <div class='subheader-div'>
        Name
    </div>
    <div class='name-input-div'>
        <input type="text" class='form-control name-input' maxlength='50'
               placeholder='First Name' [(ngModel)]="firstName"
               aria-describedby="inputGroup-sizing-sm"/>
        <input type="text" class='form-control name-input' maxlength='50'
               placeholder='Last Name' [(ngModel)]="lastName"
               aria-describedby="inputGroup-sizing-sm"/>
    </div>
    <div class='subheader-div'>
        Date of Birth
    </div>
    <div class='dob-input-div'>
        <select class="form-select form-select-sm dob-select"
                [(ngModel)]="dobMonth" aria-label=".form-select-sm example">
            <option *ngFor="let month of months" [value]="month">
                {{ month }}
            </option>
        </select>
        <select class="form-select form-select-sm dob-select"
                [(ngModel)]="dobDate" aria-label=".form-select-sm example">
            <option *ngFor="let date of dates" [value]="date">
                {{ date }}
            </option>
        </select>
        <select class="form-select form-select-sm dob-select"
                [(ngModel)]="dobYear" aria-label=".form-select-sm example">
            <option *ngFor="let year of years" [value]="year">
                {{ year }}
            </option>
        </select>
    </div>
    <div class='subheader-div'>
        Gender
    </div>
    <div>
        <div class="form-check form-check-inline gender-input-div">
            <input class="form-check-input" type="radio" name="genderOptions"
                   [(ngModel)]="gender" id="genderRadioMale" value="male">
            <label class="form-check-label" for="genderRadioMale">Male</label>
        </div>
        <div class="form-check form-check-inline gender-input-div">
            <input class="form-check-input" type="radio" name="genderOptions"
                   [(ngModel)]="gender" id="genderRadioFemale" value="female">
            <label class="form-check-label" for="genderRadioFemale">Female</label>
        </div>
        <div class="form-check form-check-inline gender-input-div">
            <input class="form-check-input" type="radio" name="genderOptions"
                   [(ngModel)]="gender" id="genderRadioOther" value="other">
            <label class="form-check-label" for="genderRadioOther">Other</label>
        </div>
    </div>
    <div *ngIf="gender === 'other'" class='other-gender-div'>
        <input class='form-control' aria-describedby="inputGroup-sizing-sm"
               placeholder='Gender (optional)' [(ngModel)]="otherGender"
               maxlength="40"
        />
    </div>
    <div *ngIf="errorMsg !== ''" class='error-msg-div'>
        {{ errorMsg }}
    </div>
    <div class='button-div'>
        <button [disabled]="firstName === '' || lastName === '' || gender === ''"
            (click)="onSubmitUserInfo()" class='btn btn-dark submit-btn'>
            Submit
        </button>
    </div>
<div>