$link-color: #0074D9;
$link-hover-color: #003366;

$tabs-color: #485063;
$tabs-hr-color: rgba(72, 80, 99, 0.25);
$tabs-height: 32px;

$error-color: #DC143C;
$date-color: #878787;
$message-content-background-color: #ffdf9e;

$main-lr-padding: 10px;

$background-color: white;