<div *ngIf="authMode === 'sign-in' || authMode === 'sign-up'" class='main-div'>
    <div class='auth-header-div' *ngIf="authMode === 'sign-in'">
        PageNow Sign In
    </div>
    <div class='auth-header-div' *ngIf="authMode === 'sign-up'">
        PageNow Sign Up
    </div>
    <form [formGroup]="authForm">
        <div class='auth-input-div'>
            <label class='auth-label'>Email</label>
            <input class='auth-input' type="email" formControlName="email">
        </div>
        <div class='auth-input-div'>
            <label class='auth-label'>Password</label>
            <input class='auth-input' fieldSize="large" type="password" formControlName="password">
        </div>
    </form> 
    <div *ngIf="authMode === 'sign-in'">
        <span (click)="onSetAuthMode('forgot-password')">
            Forgot your password?
        </span>
    </div>   
    <div *ngIf="authMode === 'sign-in'">
        <button (click)="onEmailSignIn()" class='auth-button'>
            <strong>Sign In</strong>
        </button>
        <div>
            Need an account?
            <span (click)="onSetAuthMode('sign-up')">Sign up</span>
        </div>
    </div>
    <div *ngIf="authMode === 'sign-up'">
        <button (click)="onEmailSignUp()" class='auth-button'>
            <strong>Sign Up</strong>
        </button>
        <div>
            Already have an account?
            <span (click)="onSetAuthMode('sign-in')">Sign in</span>
        </div>
    </div>
    <div>
        <button (click)="onSignOut()">Sign Out</button>
    </div>
    <div>
        Facebook Login
        <button (click)="onFacebookSignIn()">Facebook</button>
    </div>
    <div>
        Google Login
        <button (click)="onGoogleSignIn()">Google</button>
    </div>
</div>
<div *ngIf="authMode === 'forgot-password'" class='main-div'>
    <div>Forgot your password?</div>
    <div>Enter your email and we will send you a verification code</div>
    <form [formGroup]="forgotPasswordForm">
        <label>Email</label>
        <input type="email" formControlName="email">
    </form>
    <div>
        <button (click)="onResetPassword()">
            Reset Password
        </button>
    </div>
    <span (click)="onSetAuthMode('sign-in')">Back</span>
</div>
<div *ngIf="authMode === 'recover-password'" class='main-div'>
    <div>We sent a password reset code to your email. Enter it below to reset your password.</div>
    <form [formGroup]="recoverPasswordForm">
        <div>
            <label>Code</label>
            <input formControlName="code">
        </div>
        <div>
            <label>New Password</label>
            <input formControlName="newPassword">
        </div>
        <div>
            <label>Confirm Password</label>
            <input formControlName="passwordConfirm">
        </div>
    </form>
    <div>
        <button (click)="onChangePassword()">
            Change Password
        </button>
    </div>
    <span (click)="onSetAuthMode('forgot-password')">Back</span>
</div>