$btn-height: 30px;
$link-color: #0074D9;

.main-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: auto;
}

.auth-header-div {
    text-align: center;
    padding-bottom: 5px;
    font-size: 23px;
    font-weight: 700;
    font-family: 'Roboto' sans-serif;
}

.auth-subheader-div {
    font-size: 18px;
    padding-top: 5px;
}

.auth-input-div {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
}

.auth-label {
    width: 155px;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-bottom: 5px;
}

.auth-input {
    width: 100%;
    align-content: stretch;
    flex: 2;
    font-size: 18px;
    padding: 3px 5px 5px 5px;
}

.auth-p-div {
    font-size: 18px;
}

.error-div {
    color: #DC143C;
    margin: 10px 0 -7px 0;
}

.notification-div {
    color: #003366;
    margin: 10px 0 -7px 0;
}

.forgot-password-div {
    margin: 10px 0 -5px 0;
    text-align: right;
    font-size: 18px;
    color: $link-color;
}

.forgot-password-span:hover {
    cursor: pointer;
}

.auth-button {
    width: 100%;
    height: $btn-height;
    background-color: #413f3d;
    color: white;
    outline: none;
    border: none;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}

.auth-button:hover {
    cursor: pointer;
}

.auth-button:disabled {
    background-color: gray;
}

.auth-button:disabled:hover {
    cursor: default;
}

.change-mode-div {
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
}

.change-mode-span {
    color: $link-color;
}

.change-mode-span:hover {
    cursor: pointer;
}

.or-span {
    overflow: hidden;
    text-align: center;
    font-size: 15px;
    color: #808080;
    margin-top: 10px;
    margin-bottom: 15px;
}
  
.or-span:before,
.or-span:after {
    background-color: #A9A9A9;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.or-span:before {
    right: 6px;
    margin-left: -50%;
} 
.or-span:after {
    left: 6px;
    margin-right: -50%;
}

// Google Sign In Button
.google-btn {
    width: 100%;
    height: $btn-height;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}
.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 28px;
    height: 28px;
    border-radius: 2px;
    background-color: #fff;
}
.google-icon {
    position: absolute;
    margin-top: 6px;
    margin-left: 6px;
    width: 14px;
    height: 14px;
}
.btn-text {
    margin: 7px 5px 0 95px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
    cursor: pointer;
}
.google-btn:active {
    background: #1669F2;
}