<div class='main-div' *ngIf="!showProfile">
    <!-- Search input with search option -->
    <div class='d-flex flex-row align-items-center justify-content-center w-100'>
        <select class="form-select form-select-sm search-select" [value]="searchOption"
                (change)="onSearchOptionChange($event)">
            <option value="email">{{ 'email' | translate }}</option>
            <option value="name">{{ 'name' | translate }}</option>
        </select>
        <div class='search-input-group'>
            <fa-icon [icon]="faSearch" class='search-icon'></fa-icon>
            <input [ngModel]="searchInput" (ngModelChange)="onInputChange($event)"
                   class='search-input form-control' [placeholder]="searchPlaceholder" pattern="[a-zA-Z ]*"/>
            <fa-icon [icon]="faTimesCircle" class='cancel-icon' (click)="removeSearchInput()"></fa-icon>
        </div>
    </div>
    <!-- Searching spinner -->
    <div *ngIf="isSearching" class="text-center" style="margin-top: 50px;">
        <span class="spinner-border spinner-border-md text-primary"
              role="status" aria-hidden="true">
        </span>
    </div>
    <!-- Array of search results -->
    <div class='mt-3' *ngIf="!isSearching">
        <div *ngFor="let user of searchedUserArr; let idx = index"
            class='d-flex flex-row align-items-center mb-1'>
            <div class='me-2'>
                <a [routerLink]="['/profile', user.user_id]" class="profile-a">
                    <img [src]="userProfileImgUrlMap[user.user_id]"
                        class="profile-image" onerror="this.src='/assets/user.png'">
                </a>
            </div>
            <div class='d-flex flex-column flex-grow-1'>
                <div class='mb-auto'>
                    <span class='profile-link' (click)="onClickProfile(user)">
                        {{ user.first_name}} {{ user.last_name }}
                    </span>
                </div>
                <div *ngIf="user.friendship_state === FRIENDSHIP_ACCEPTED"
                     class='user-friendship-div'>
                    <span>{{ 'friend' | translate }}</span>
                </div>
                <div *ngIf="user.friendship_state !== FRIENDSHIP_ACCEPTED && user.mutual_friend_count !== undefined && user.mutual_friend_count > 0"
                     class='user-friendship-div'>
                    <span *ngIf="userLanguage !== LANG_KO">{{ user.mutual_friend_count }} {{ 'mutualFriend' | translate }}{{ user.mutual_friend_count > 1 ? 's' : '' }}</span>
                    <span *ngIf="userLanguage === LANG_KO">{{ 'mutualFriend' | translate }} {{ user.mutual_friend_count }}명</span>
                </div>
                <div *ngIf="user.friendship_state !== FRIENDSHIP_ACCEPTED && user.mutual_friend_count !== undefined && user.mutual_friend_count === 0"
                     class='description-div'>
                    <span *ngIf="user.description !== ''">
                        {{ user.description }} 
                    </span>
                    <span *ngIf="user.description === ''">
                        &nbsp;
                    </span>
                </div>
            </div>
            <!-- Icon to indicate friendship state and to add friend directly -->
            <div class='pe-1' *ngIf="user.friendship_state === FRIENDSHIP_NONE">
                <fa-icon [icon]="faUserPlus" class='add-friend-icon' (click)="addFriend(idx)"></fa-icon>
            </div>
            <div class='pe-1' *ngIf="user.friendship_state === FRIENDSHIP_PENDING">
                <fa-icon [icon]="faUserClock" class='pending-friend-icon'></fa-icon>
            </div>
        </div>
    </div>
    <div *ngIf="!isSearching && !isSearchingMore && searched && !endOfSearch && searchInput !== ''"
         class='search-more-div'>
        <span (click)="onSearchMore()" class='search-more-span'>{{ 'seeMoreSearch' | translate }}</span>
    </div>
    <div *ngIf="!isSearching && !isSearchingMore && endOfSearch && searchInput !== ''"
         class='pt-1 pb-2 text-center' style="font-size: 14px;">
        {{ 'endOfSearch' | translate }}
    </div>
    <div class="text-center mt-3" *ngIf="isSearchingMore">
        <span class="spinner-border spinner-border-sm text-secondary"
              role="status" aria-hidden="true">
        </span>
    </div>
</div>
<app-profile-public *ngIf="showProfile" [userId]="profileId" (backEvent)="onClickBack()"
    (deleteFriendRequestEvent)="onDeleteFriendRequest($event)"
    (acceptFriendRequestEvent)="onAcceptFriendRequest($event)"
    (createFriendRequestEvent)="onCreateFriendRequest($event)">
</app-profile-public>