.main-div {
    padding-top: 10px;
}

.search-input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search-select {
    width: 90px;
}

.search-input-group {
    position: relative;
}

.search-input {
    padding: 0 25px 0 25px;
    width: 180px;
}

.search-icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
}

.cancel-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
}

.search-output-div {
    margin-top: 15px;
}

.search-output-item-div {
    display: flex;
    flex-direction: row;
}

.user-profile-image-div {
    margin-right: 10px;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.user-info-div {
    display: flex;
    flex-direction: column;
}

.profile-a {
    text-decoration: none;
}

.profile-a:hover {
    cursor: pointer;
}