<div class='main-div' *ngIf="!showProfile">
    <div class='search-input-div'>
        <select class="form-select form-select-sm search-select" [value]="searchOption"
                (change)="onSearchOptionChange($event)">
            <option value="email">Email</option>
            <option value="name">Name</option>
        </select>
        <div class='search-input-group'>
            <fa-icon [icon]="faSearch" class='search-icon'></fa-icon>
            <input [ngModel]="searchInput" (ngModelChange)="onInputChange($event)"
                   class='search-input form-control' [placeholder]="searchPlaceholder" pattern="[a-zA-Z ]*"/>
            <fa-icon [icon]="faTimesCircle" class='cancel-icon' (click)="removeSearchInput()"></fa-icon>
        </div>
    </div>
    <div class="search-spinner-div" *ngIf="isSearching">
        <span class="spinner-border spinner-border-md text-primary"
              role="status" aria-hidden="true">
        </span>
    </div>
    <div class='search-output-div' *ngIf="!isSearching">
        <div *ngFor="let user of searchedUserArr; let idx = index"
            class='search-output-item-div'>
            <div class='user-profile-image-div'>
                <a [routerLink]="['/profile', user.user_id]" class="profile-a">
                    <img [src]="userProfileImgUrlMap[user.user_id]"
                        class="profile-image" onerror="this.src='/assets/user.png'">
                </a>
            </div>
            <div class='user-info-div'>
                <div class='profile-link-div'>
                    <span class='profile-link' (click)="onClickProfile(user)">
                        {{ user.first_name}} {{ user.last_name }}
                    </span>
                </div>
                <div *ngIf="user.friendship_state === FRIENDSHIP_ACCEPTED"
                     class='user-friendship-div'>
                    <span>Friend</span>
                </div>
                <div *ngIf="user.friendship_state !== FRIENDSHIP_ACCEPTED && user.mutual_friend_count !== undefined && user.mutual_friend_count > 0"
                     class='user-friendship-div'>
                    <span>{{ user.mutual_friend_count }} Mutual Friend{{ user.mutual_friend_count > 1 ? 's' : '' }}</span>
                </div>
                <div *ngIf="user.friendship_state !== FRIENDSHIP_ACCEPTED && user.mutual_friend_count !== undefined && user.mutual_friend_count === 0"
                     class='description-div'>
                    <span *ngIf="user.description !== ''">
                        {{ user.description }} 
                    </span>
                    <span *ngIf="user.description === ''">
                        &nbsp;
                    </span>
                </div>
            </div>
            <div class='user-icon-div' *ngIf="user.friendship_state === FRIENDSHIP_NONE">
                <fa-icon [icon]="faUserPlus" class='add-friend-icon' (click)="addFriend(idx)"></fa-icon>
            </div>
            <div class='user-icon-div' *ngIf="user.friendship_state === FRIENDSHIP_PENDING">
                <fa-icon [icon]="faUserClock" class='pending-friend-icon'></fa-icon>
            </div>
        </div>
    </div>
    <div *ngIf="!isSearching && !isSearchingMore && searched && !endOfSearch && searchInput !== ''"
         class='search-more-div'>
        <span (click)="onSearchMore()" class='search-more-span'>See More</span>
    </div>
    <div *ngIf="!isSearching && !isSearchingMore && endOfSearch && searchInput !== ''"
         class='end-of-search-div'>
        End of Search
    </div>
    <div class="search-more-spinner-div" *ngIf="isSearchingMore">
        <span class="spinner-border spinner-border-sm text-secondary"
              role="status" aria-hidden="true">
        </span>
    </div>
</div>
<app-profile-public *ngIf="showProfile" [userId]="profileId" (backEvent)="onClickBack()"
    [mutualFriendCount]="profileMutualFriendCount"
    (deleteFriendRequestEvent)="onDeleteFriendRequest($event)"
    (acceptFriendRequestEvent)="onAcceptFriendRequest($event)">
</app-profile-public>