@import '../../stylings/variables';

.main-div {
    padding: 10px $main-lr-padding 0 $main-lr-padding;
}

.profile-image {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    object-fit: cover;
}

.profile-link {
    font-size: 15px;
    text-decoration: none;
    color: $link-color;
}

.profile-link:hover {
    cursor: pointer;
    color: $link-hover-color;
}

.requested-date-div {
    color: $date-color;
    font-size: 13px;
    margin-top: -2px;
}

.refresh-span {
    font-size: 14px;
    color: $link-color;
}

.refresh-span:hover {
    color: $link-hover-color;
    cursor: pointer;
}