<ngx-spinner>
    <p style="color: white; font-size: 14px;">
        <strong>{{ spinnerMsg }}</strong>
    </p>
</ngx-spinner>
<div class='main-div'>
    <div *ngIf="friendRequestUserArr.length > 0"
         class='text-center mb-2' style="font-size: 15px;">
        <strong>{{ 'friendRequests' | translate }}</strong>
    </div>
    <div *ngIf="isNotificationLoaded && friendRequestUserArr.length === 0"
         class='text-center' style="font-size: 15px;">
        {{ 'noNotification' | translate }}
    </div>
    <div *ngFor='let user of friendRequestUserArr; let idx = index'
         class='d-flex flex-row align-items-center mb-1'>
        <div class='me-2'>
            <a [routerLink]="['/profile', user.user_id]" class="profile-a">
                <img [src]="userProfileImgUrlMap[user.user_id]"
                 class="profile-image" onerror="this.src='/assets/user.png'">
            </a>
        </div>
        <div class='flex-grow-1'>
            <div class='profile-link-div'>
                <span class='profile-link' (click)="onClickProfile(user)">
                    {{ user.first_name }} {{ user.last_name }}
                </span>
            </div>
            <div class='requested-date-div'>
                <span>
                    Requested at {{ user.requested_at | dateFormat: true }}
                </span>
            </div>
            <div class='description-div'>
                <span>{{ user.description }}</span>
            </div>
        </div>
        <div class='me-1'>
            <button class='btn btn-outline-primary btn-sm' (click)="acceptFriendRequest(user.user_id)">
                {{ 'accept' | translate }}
            </button>
        </div>
        <div>
            <button class='btn btn-outline-secondary btn-sm' (click)="deleteFriendRequest(user.user_id)">
                {{ 'decline' | translate }}
            </button>
        </div>
    </div>
    <div class="mt-3 text-center">
        <span *ngIf="!isRefreshingNotification" class="refresh-span" (click)="refreshFriendRequests()">
            {{ 'refreshFriendRequests' | translate }}
        </span>
        <div *ngIf="isRefreshingNotification" class="spinner-border spinner-border-sm text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<app-profile-public *ngIf="showProfile" [userId]="profileId" (backEvent)="onClickBack()">
</app-profile-public>