@import '../../stylings/variables';

.main-div {
    padding: 10px $main-lr-padding 10px $main-lr-padding;
}

.refresh-icon {
    font-size: 13px;
    color: $link-color;
}

.refresh-icon:hover {
    cursor: pointer;
    color: $link-hover-color;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
}

.profile-link {
    font-size: 15px;
    text-decoration: none;
    color: $link-color;
}

.profile-link:hover {
    cursor: pointer;
    color: $link-hover-color;
}

.requested-date-div {
    color: $date-color;
    font-size: 13px;
    margin-top: -2px;
}

.share-notification-domain-span {
    color: $tabs-color;
}

.share-notification-a {
    color: $link-color;
    text-decoration: none;
}

.share-notification-a:hover {
    cursor: pointer;
    color: $link-hover-color;
}

.date-span {
    color: $tabs-color;
}
