<ngx-spinner>
    <p style="color: white; font-size: 14px;">
        <strong>{{ spinnerMsg }}</strong>
    </p>
</ngx-spinner>
<div class='main-div'>
    <div class='d-flex flex-row align-items-end mb-1'>
        <span style="font-size: 15px;">
            <strong>{{ 'Friend Requests' | translate }}</strong> ({{ friendRequestUserArr.length }})
        </span>
        <fa-icon *ngIf="!isRefreshingFriendRequests" [icon]="faRedo" class="ms-2 refresh-icon"
                 (click)="refreshFriendRequests()"></fa-icon>
        <div *ngIf="isRefreshingFriendRequests" role="status"
             class="spinner-border spinner-border-sm text-primary ms-2">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf="areFriendRequestsLoaded && friendRequestUserArr.length === 0 && !isRefreshingFriendRequests"
         class='text-center mb-2' style="font-size: 15px;">
        {{ 'There is no friend request.' | translate }}
    </div>
    <div *ngFor='let user of friendRequestUserArr; let idx = index'
         class='d-flex flex-row align-items-center mb-1'>
        <div class='me-2'>
            <a [routerLink]="['/profile', user.user_id]" class="profile-a">
                <img [src]="userProfileImgUrlMap[user.user_id]"
                 class="profile-image" onerror="this.src='/assets/user.png'">
            </a>
        </div>
        <div class='flex-grow-1'>
            <div class='profile-link-div'>
                <span class='profile-link' (click)="onClickProfile(user)">
                    {{ user.first_name }} {{ user.last_name }}
                </span>
            </div>
            <div class='requested-date-div'>
                <span>
                    Requested at {{ user.requested_at | dateFormat: true }}
                </span>
            </div>
            <div class='description-div'>
                <span>{{ user.description }}</span>
            </div>
        </div>
        <div class='me-1'>
            <button class='btn btn-outline-primary btn-sm' (click)="acceptFriendRequest(user.user_id)">
                {{ 'Accept' | translate }}
            </button>
        </div>
        <div>
            <button class='btn btn-outline-secondary btn-sm' (click)="deleteFriendRequest(user.user_id)">
                {{ 'Decline' | translate }}
            </button>
        </div>
    </div>

    <div class='d-flex flex-row align-items-end mt-3 mb-1'>
        <span style="font-size: 15px;">
            <strong>{{ 'Share Notifications Received' | translate }}</strong> 
            ({{ shareNotificationArr.length }})
        </span>
        <fa-icon *ngIf="!isRefreshingShareNotifications" [icon]="faRedo" class="ms-2 refresh-icon"
                 (click)="refreshShareNotifications()"></fa-icon>
        <div *ngIf="isRefreshingShareNotifications" role="status"
             class="spinner-border spinner-border-sm text-primary ms-2">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf="areShareNotificationsLoaded && shareNotificationArr.length === 0 && !isRefreshingShareNotifications"
         class='text-center mb-2' style="font-size: 15px;">
        {{ 'There is no share notification.' | translate }}
    </div>
    <div *ngFor='let shareNotification of shareNotificationArr; let idx = index'
         class='d-flex flex-row mb-1 align-items-center justify-content-between'>
        <div class='d-flex flex-row text-nowrap overflow-hidden align-items-center'
             style='width: 80%;'>
            <div class='me-1'>
                <a [routerLink]="['/profile', shareNotification.user_id]" class="profile-a">
                    <img [src]="userProfileImgUrlMap[shareNotification.user_id]"
                     class="profile-image" onerror="this.src='/assets/user.png'">
                </a>
            </div>
            <div class='d-flex flex-column' >
                <div style="font-size: 14px;">
                    <strong>{{ shareNotification.first_name }} {{ shareNotification.last_name }}</strong> 
                    {{ 'shared' | translate }}
                    <span class='ms-2 share-notification-domain-span'>
                        <i>{{ extractDomain(shareNotification.url) }}</i>
                    </span>  
                </div>
                <div class="" style="font-size: 13px;">
                    <a [href]="shareNotification.url" target="_blank" class='share-notification-a'>
                        {{ shareNotification.title }}
                    </a>
                </div>
            </div>
        </div>
        <div class='ms-2'>
            <button class='btn btn-outline-secondary btn-sm' style="font-size: 12px;"
                    (click)="readShareNotification(shareNotification.event_id)">
                <fa-icon [icon]="faEnvelopeOpen" class='me-1'></fa-icon>
                <span>{{ 'Read' | translate }}</span>
            </button>
        </div>
    </div>

    <!-- Shared notifications sent -->
    <div class='d-flex flex-row align-items-end mt-3 mb-1'>
        <span style='font-size: 15px;'>
            <strong>{{ 'Shared Notifications Recently Sent' | translate }}</strong>
        </span>
        <fa-icon *ngIf="!isRefreshingShareNotificationsSent" [icon]="faRedo" class="ms-2 refresh-icon"
                 (click)="refreshShareNotificationsSent()"></fa-icon>
        <div *ngIf="isRefreshingShareNotificationsSent" role="status"
             class="spinner-border spinner-border-sm text-primary ms-2">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf="areShareNotificationsSentLoaded && shareNotificationSentArr.length === 0 && !isRefreshingShareNotificationsSent"
         class='text-center mb-2' style="font-size: 15px;">
        {{ 'You have not sent any share notification yet.' | translate }}
    </div>
    <div *ngFor='let shareNotification of shareNotificationSentArr'
         class='d-flex flex-column mb-2' style="font-size: 14px;">
        <div class='text-nowrap overflow-hidden'>
            <a [href]="shareNotification.url" target="_blank" class='share-notification-a'>
                {{ extractDomain(shareNotification.url) }} - {{ shareNotification.title }}
            </a>
        </div>
        <div class='d-flex flex-row justify-content-between'>
            <span *ngIf="userLanguage !== 'ko-KR'">
                Shared with 
                <span *ngIf="shareNotification.sent_to">
                    <strong>{{ shareNotification.first_name }} {{ shareNotification.last_name }}</strong>
                </span>
                <span *ngIf="!shareNotification.sent_to">
                    friends
                </span>
                on <i>{{ shareNotification.sent_at | dateFormat: true }}</i>
            </span>
            <span *ngIf="userLanguage === 'ko-KR'">
                <span *ngIf="shareNotification.sent_to">
                    <strong>{{ shareNotification.first_name }} {{ shareNotification.last_name }}</strong>에게
                </span>
                <span *ngIf="!shareNotification.sent_to">
                    친구들에게
                </span>
                <i>{{ shareNotification.sent_at | dateFormat: true }}</i>에 공유 알림 전송
            </span>
            <span *ngIf='shareNotification.not_seen_count > 0' class='date-span'>
                <span *ngIf="shareNotification.sent_to">
                    <span *ngIf="userLanguage !== 'ko-KR'">Unread</span>
                    <span *ngIf="userLanguage === 'ko-KR'">안 읽음</span>
                </span>
                <span *ngIf="!shareNotification.sent_to">
                    <span *ngIf="userLanguage !== 'ko-KR'">{{ shareNotification.not_seen_count }} Unread</span>
                    <span *ngIf="userLanguage === 'ko-KR'">{{ shareNotification.not_seen_count }}명 안 읽음</span>
                </span>
            </span>
            <span *ngIf='shareNotification.not_seen_count === 0' class='date-span'>
                <span *ngIf="shareNotification.sent_to">
                    <span *ngIf="userLanguage !== 'ko-KR'">Read</span>
                    <span *ngIf="userLanguage === 'ko-KR'">읽음</span>
                </span>
                <span *ngIf="!shareNotification.sent_to">
                    <span *ngIf="userLanguage !== 'ko-KR'">All Read</span>
                    <span *ngIf="userLanguage === 'ko-KR'">모두 읽음</span>
                </span>
            </span>
        </div>
    </div>
</div>
<app-profile-public *ngIf="showProfile" [userId]="profileId" (backEvent)="onClickBack()">
</app-profile-public>