<ngx-spinner>
    <p style="color: white;">
        <strong>{{ spinnerMsg }}</strong>
    </p>
</ngx-spinner>
<div class='main-div'>
    <div class='subheader-div'>Friend Requests</div>
    <div *ngFor='let user of friendshipRequestUserArr; let idx = index' class='notification-item-div'>
        <div class='profile-image-div'>
            <a [routerLink]="['/profile', user.user_id]" class="profile-a">
                <img [src]="profileImgUrlArr[idx]"
                 class="profile-image" onerror="this.src='/assets/user.png'">
            </a>
        </div>
        <div class='detail-div'>
            <div class='user-info-div'>
                <div>
                    <a [routerLink]="['/profile', user.user_id]" class="profile-a">
                        {{ user.first_name }} {{ user.last_name }}
                    </a>
                </div>
                <div>{{ user.description }}</div>
            </div>
            <div class='button-group-div'>
                <button class='accept-button' (click)="acceptFriendRequest(user.user_id)">
                    Accept
                </button>
                <button class='decline-button' (click)="deleteFriendRequest(user.user_id)">
                    Decline
                </button>
            </div>
        </div>
    </div>
</div>
<app-profile-public *ngIf="showProfile" [userId]="profileId" (backEvent)="onClickBack()">
</app-profile-public>